<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
  {% endblock %}
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">{{ SITENAME }}</h3>
            <ul class="nav masthead-nav">
              <li class="active"><a href="{{ SITEURL }}">Home</a></li>
            </ul>
          </div>
        </div>
        <div class="inner cover">
          {% block content %}
          {% endblock %}
        </div>
        {% block footer %}
        <div class="mastfoot">
          <div class="inner">
            <p>{{ 2014|copyright }}</p>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
