{% extends "base.html" %}

{% set item_active = 'home' %}

{% block content %}
  <div class="about">
    {{ page.content }}
    <div class="imprint">
      <a href="https://github.com/paveldedik" title="github" class="github">
        <span class="fa fa-github"></span>
      </a>
      <a href="https://twitter.com/paveldedik" title="twitter" class="twitter">
        <span class="fa fa-twitter"></span>
      </a>
      <a href="https://linkedin.com/in/paveldedik" title="linkedin" class="linkedin">
        <span class="fa fa-linkedin-square"></span>
      </a>
    </div>
  </div>
{% endblock %}
