{% extends "base.html" %}

{% set item_active = 'blog' %}

{% block title %}{{ SITENAME }}'s Writings{% endblock %}

{% block content %}
  {% for article in articles_page.object_list %}
    <li class="list-unstyled">
      <h1 class="page-header">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" class="no-decor"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        <small class="published" title="{{ article.date.isoformat() }}">
          <span class="fa fa-clock-o"></span> {{ article.date|date }}
        </small>
      </h1>
      <div class="content-summary">
        {{ article.summary }}
        <p><a class="btn btn-default btn-lg"
              href="{{ SITEURL }}/{{ article.url }}">Read More</a></p>
      </div>
    </li>
  {% endfor %}
{% endblock %}
