/* Font definitions */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic&subset=latin,latin-ext);

/* Base structure */

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: #fff;
}

body {
  color: #333;
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 1.75em;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 700px;
}

.site-wrapper {
  display: table;
  width: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-bottom: 50px
}

.about h1 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.copyright {
  font-size: 14px;
  color: #888;
}

/* Globals */

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
  color: #4dbce9;
}

a:focus,
a:hover {
  color: #26ade4;
}

a.no-decor {
  color: #333;
  text-decoration: none;
}

a.no-decor:hover {
  color: #555;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #333;
  border: 1px solid #333;
}

pre,
code {
  font-family: "Consolas", "DejaVu Sans Mono", "Lucida Sans Typewriter", monospace;
  font-size: 15px;
  border-radius: 0;
}

code {
  border: 1px solid #eed3d7;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 18px;
}

blockquote {
  border: 1px solid #ccc;
  border-left: 5px solid #bbb;
  background: #f8f8f8;
  font-style: italic;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
  margin-top: 26px;
  margin-bottom: 16px;
}

h4 {
  font-size: 22px;
  margin-top: 22px;
  margin-bottom: 14px;
}

.math {
  margin: 30px 0;
}


/* Header */

.pretty-brand {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pretty-brand a {
  color: #333;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.pretty-nav {
  margin-top: 25px;
  margin-bottom: 25px;
}

.pretty-nav > li {
  display: inline-block;
}

.pretty-nav > li + li {
  margin-left: 20px;
}

.pretty-nav > li > a {
  color: #333;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  padding: 5px 3px;
}

.pretty-nav > li > a:hover,
.pretty-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #4dbce9;
}

.pretty-nav > li.active > a,
.pretty-nav > li.active > a:hover,
.pretty-nav > li.active > a:focus {
  color: #333;
  border-bottom-color: #4dbce9;
}

.pretty-brand {
  float: left;
}
.pretty-nav {
  float: right;
}

h1.page-header,
h2.page-header {
  border-bottom-width: 3px;
  border-bottom-color: #4dbce9;
}

h1.page-header {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

h2.page-header {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

h1.page-header > small {
  float: right;
  font-size: 50%;
  padding: 15px 0;
}


/* Imprint */

.imprint {
  text-align: center;
  margin-top: 20px;
}

.imprint p {
  margin-bottom: 25px;
}

.imprint a.imprint-icon {
  font-size: 48px;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
}

.imprint a.twitter {
  color: #55acee;
}

.imprint a.twitter:hover {
  color: #7abbed;
}

.imprint a.linkedin {
  color: #0077B5;
}

.imprint a.linkedin:hover {
  color: #2890c6;
}

.imprint a.github {
  color: #171516;
}

.imprint a.github:hover {
  color: #363234;
}

.imprint a.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}


/* Articles */

.content {
  margin-bottom: 30px;
}

.comments {
  margin-bottom: 30px;
}


/* Media */

@media (max-width: 475px) {
  h1 > .published {
    display: none;
  }
}
