---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Pavel Dedík - Software Engineer" } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a></li>
          <li><a href="/work" class={currentPath === '/work' ? 'active' : ''}>Work</a></li>
          <li><a href="/opensource" class={currentPath === '/opensource' ? 'active' : ''}>OpenSource</a></li>
          <li><a href="/contact" class={currentPath === '/contact' ? 'active' : ''}>Contact</a></li>
        </ul>
      </nav>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
